.nav {
  margin-top: 1rem;
  height: 28px;
  background-color: rgb(250, 96, 25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px;
}

.icon img {
  border: 1px solid #ffffff;
  margin-left: 1px;
  cursor: pointer;
  position: relative;
  margin-bottom: 6px;
}

.nav a {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5px;
  margin-right: 12px;
  cursor: pointer;
  text-decoration: none;
}

.nav span:first-child {
  margin-left: 2px;
}

.nav a:hover {
  color: #000000;
}

.nav .categories {
  cursor: pointer;
  letter-spacing: 1px;
  margin-left: 10px;
  color: #000000;
  font-weight: 400;
}

.nav .categories:hover {
  color: #ffffff;
}

.git {
  margin-right: 10px;
}

.git a:hover {
  color: white;
}

@media (max-width: 720px) {
  .nav {
    margin-top: 1rem;
    height: 70px;
    margin-left: 2px;
    justify-content: space-between;
  }

  .nav a {
    display: flex;
    flex-wrap: wrap;
  }

  .git i {
    font-size: large;
  }
}
